.close-icon {
    visibility: hidden;
    color: black;
    height: 12px;
    width: 12px;
}

.tab-list {

}

.nav-link:hover .close-icon {
    visibility: visible;
}

.nav-link.active .close-icon {
    visibility: visible;
}

.unsaved-icon {
    display: inline-block;
    color: pink;
}

.withUnsaved.nav-link .close-icon {
    display: none;
}

.withUnsaved.nav-link:hover .close-icon {
    display: inline-block;
}

.withUnsaved.nav-link:hover .unsaved-icon {
    display: none;
}